.container {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  margin: 20px 0px;
  display: flex;
}

.followPlace {
  background-color: aqua;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
}
.personIcon {
  width: 100px;
}
